@import url("fonts.css");
@import url("form.css");
@import url("utility.css");
@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arsenica", sans-serif;
}

img {
  width: 100%;
  height: auto;
  filter: contrast(110%);
  object-fit: cover;
}

main {
  width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  width: 5px;
  background: black; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background: black; /* width of the entire scrollbar */
  border-radius: 0px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

section {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  section {
    width: 90%;
    margin: 0 auto;
  }
}

.theme-picker {
  display: grid;
  width: 100px;
  grid-template-columns: 1fr 1fr;
}

.theme-picker div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  transition: all ease-in .5s;
}

.theme-picker div:hover {
  transform: scale(1.3);
}

.theme-picker .light {
  background: black; /* width of the entire scrollbar */
}
.theme-picker .dark {
  background: black; /* width of the entire scrollbar */
}

a {
  font-size: 14px !important;
  cursor: pointer;
}

body {
  width: 100%;
  background: black; /* width of the entire scrollbar */
  margin-bottom: 50px;
}


.glow:hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 50%;
  z-index: -1;
  filter: blur(100px);
  width: calc(70% + 4px);
  height: calc(50% + 4px);
  animation: glowing 0s linear infinite;
  opacity: 1;
  border-radius: var(--border-radius);
}

.glow:active {
  background: linear-gradient(
    118.51deg,
    rgba(0, 0, 0, 0.05) 3.99%,
    rgba(255, 255, 255, 0) 111.18%
  ) !important;
}

.glow:active:after {
  background: transparent;
}

.glow:before {
  opacity: 1;
}

.glow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: var(--border-radius);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glass {
  background: linear-gradient(
    118.51deg,
    rgba(99, 99, 99, 0.151) 3.99%,
    rgba(107, 107, 107, 0.144) 111.18%
  ) !important;
  /* border: .5px solid rgba(255, 255, 255, 0.03) !important; */
  border: none !important;
  box-sizing: border-box;
  border-radius: var(--border-radius) !important;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(80, 80, 80, 0),
    rgba(124, 124, 124, 0.75),
    rgba(80, 80, 80, 0)
  );
  margin-bottom: 1em;
  margin-top: 1em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}