@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



@font-face {
  font-family: 'Maglony'; /*a name to be used later*/
  src: url('../font/maglony-woff2/Maglony-Bold.woff2')
}


@font-face {
  font-family: 'Arsenica'; /*a name to be used later*/
  src: url('../font/arsenica/ArsenicaTrial-Demibold.ttf')
}
