/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* tomato grotesk */
@font-face {
    font-family: "Tomato Grotesk";
    src: url('../font/TomatoGrotesk/TomatoGrotesk-Black.otf');
    font-weight: 900;
}

@font-face {
    font-family: "Tomato Grotesk";
    src: url('../font/TomatoGrotesk/TomatoGrotesk-Medium.otf');
    font-weight: bold;
}

@font-face {
    font-family: "Tomato Grotesk";
    src: url('../font/TomatoGrotesk/TomatoGrotesk-Light.otf');
    font-weight: normal;
}