@import url("fonts.css");
@import url("form.css");
@import url("utility.css");
@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Manrope', sans-serif !important;
}

:root {
  --background: #1a1a1a;
  --primary: #2b37db;
  --primary-dark: #141d94;
  --secondary: #cccccc;
  --input-border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Young Serif", sans-serif !important;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
  font-size: 52px;
}

h1 span {
  font-family: "Young Serif", sans-serif !important;
  color: var(--primary);
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

p, a, li {
  color: #ffffff;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  filter: contrast(110%);
  object-fit: cover;
}

main {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 5px;
  background: rgb(20, 20, 20);
}

body::-webkit-scrollbar-track {
  background: rgb(20, 20, 20); /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20); /* width of the entire scrollbar */
  border-radius: 0px; /* roundness of the scroll thumb */
  background: rgb(20, 20, 20); /* width of the entire scrollbar */
}

.theme-picker {
  display: grid;
  width: 100px;
  grid-template-columns: 1fr 1fr;
}

.theme-picker div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  transition: all ease-in .5s;
}

a {
  font-size: 14px;
  cursor: pointer;
}

body {
  width: 100%;
  background: rgb(14, 14, 14);
  margin-bottom: 50px;
}

.glowing:hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 50%;
  z-index: -1;
  filter: blur(100px);
  width: calc(70% + 4px);
  height: calc(50% + 4px);
  animation: glowing 0s linear infinite;
  opacity: 1;
  border-radius: var(--border-radius);
}

















.glow:hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: 20%;
  left: 20%;
  background-size: 50%;
  z-index: -1;
  filter: blur(100px);
  width: calc(50% + 0px);
  height: calc(50% + 0px);
  animation: glowing 0s linear infinite;
  opacity: 1;
  border-radius: var(--border-radius);
}

.glow:active {
  background: linear-gradient(
    118.51deg,
    rgba(0, 0, 0, 0.05) 3.99%,
    rgba(255, 255, 255, 0) 111.18%
  ) !important;
}

.glow:active:after {
  background: transparent;
}

.glow:before {
  opacity: 1;
}

.glow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: var(--border-radius);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glass {
  background: linear-gradient(
    118.51deg,
    rgba(99, 99, 99, 0.151) 3.99%,
    rgba(107, 107, 107, 0.144) 111.18%
  ) !important;
  /* border: .5px solid rgba(255, 255, 255, 0.03) !important; */
  border: none !important;
  box-sizing: border-box;
  border-radius: var(--input-border-radius) !important;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(80, 80, 80, 0),
    rgba(124, 124, 124, 0.75),
    rgba(80, 80, 80, 0)
  );
  margin-bottom: 1em;
  margin-top: 1em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-black {
  color:  black;
}
.text-white {
  color: white !important;
}

.icon-set {
  margin: 2em;

}

.icon {
  height: 15px;
  width: 15px;
  object-fit: cover;
}

.icon-big {
  height: 35px;
  width: 35px;
  object-fit: cover;
}




/* moving animation */
.marquee {
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee--inner {
  display: block;
  width: 200%;
  position: absolute;
  animation: marquee 30s linear infinite;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

.marquee span {
  float: left;
  width: 50%
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


section {
    width: 75%;
    margin: 0 auto;
}

@media (max-width: 768px) {
  section {
    width: 90%;
    margin: 0 auto;
  }
}

@media(min-width: 1400px) {
    section {
        width: 1100px;
        margin: 0 auto
    }
}


.spin {
  position: fixed;
  overflow: hidden;
  height: 130px;
  width: 130px;
  right: 100px;
  top: 100px;
  z-index: 999;
  transition: 200ms ease-in;
}

.spin:hover {
    transition: 200ms ease-in;
    transform: scale(1.1)
}


.avatar {
  border-radius: 50%;
  object-position: center;
  padding: 10px;
  position: relative;
}

.avatar-wrapper {
  position: absolute;
  -webkit-animation: spin 25s linear infinite;
  -moz-animation: spin 25s linear infinite;
  animation: spin 25s linear infinite;
  object-fit: cover;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.price-back {
    background: radial-gradient(circle at 65% 15%, white 1px, grey 3%, black 60%, grey 100%);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: spin 5s linear infinite;
}

.spin {
    display: grid;
    place-items: center;
}

.spin p {
    position: absolute;
    z-index: 1000;
    font-weight: 500;
    font-size: 20px !important;
}

@media (max-width: 1000px) {
  .spin {
    right: 0;
    top: 0;
    width: 250px;
    height: 250px;
    position: relative;
  }

  .git {
      right: 50px !important;
      top: 100px !important;
      width: 50px !important;
      height: 50px !important;
      position: fixed;
  }



  .avatar {
    padding: 25px;
  }
}
