:root {
    --primary: #53ff70;
    --secondary: #53ffd7;
    --primary-tint: #34da50;
    --secondary-tint: #53ffd7;
    --success: #aef78e;
    --warning: #f0a202;
    --error: #f55536;
    --disabled: #313131;
    --disabled: #e1efe6;
    --black: #171717;
    --gray: #e6e6e6;
    --border-radius: 8px;
    --input-border-radius: 8px;
    --white: #fff;
}
